<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://www.springframework.org/schema/beans">
    
    <mvc:annotation-driven/>
    <mvc:resources location="/resources/CSS/" mapping="/resources/CSS/**"/>
    
    <context:component-scan base-package="Controllers"/>
    <mvc:default-servlet-handler/>
    <mvc:view-controller view-name="index" path="/"/>
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property value="/WEB-INF/jsp/" name="prefix"/>
        <property value=".jsp" name="suffix"/>
    </bean>
    
    <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource" id="messageSource">
        <property value="WEB-INF/ValidationMessages" name="basename"/>
    </bean>
    
    <mvc:interceptors>
        <bean class="Controllers.AutorizadorInterceptador"/>
    </mvc:interceptors>
</beans>